#study-page-outer-main-div {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "sidebar deckheader"
    "sidebar indicards"
    ;
  height: 100%;
  overflow: hidden;
}

#study-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: indicards;
  background-color: wheat;
}

.study-card-div {
  width: 70%;
  height: 70%;
  background-color: violet;
}
