nav {
  display: grid;
  grid-template-areas:
    "navbar1 navbar2 navbar3"
    "quote quote quote";
  grid-auto-columns: minmax(300px,33vw);
  background-color: #e6e6e6;
  height:10vh;
  /* position: fixed; */
  top: 0;
  margin: 0;
  padding: 10px;

}
#quote-container{
  grid-area: quote;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  padding-top: .5%;
}



nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0 10%;
  grid-area: navbar3;
}

nav li {
  margin: 0 1%;
}

#search-bar {
  grid-area: navbar2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

#search-bar button {
  font-size: 15px;
  background-color: #1B8BBF;
  margin-left: 10px;
  width: 75px;
  cursor: pointer;
  border: none;
  border-radius:15px;
  color: white;
  letter-spacing: 1px;
  padding: 5px 5px;
  box-shadow: 1px 1px black;

}
.active button{
  background-color: #e89b64;

}

.nav-button {
  width: 110px;
  cursor: pointer;
  border: none;
  border-radius:15px;
  letter-spacing: 1px;
  font-size: 15px;
  padding: 5px 5px;
  box-shadow: 1px 1px black;

}

#logo-nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
