#outer-div{
  display:flex;
  justify-content: space-around;
  margin-top: 20px;
}

#outer-div div {
  display: inline;
  color: white;
}

#outer-div button {
  border: none;
  background-color: transparent;
  color: white;
  height: 40px;
  width: 40px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
}

.fas.fa-plus {
  font-size: 35px;
}

#my-decks-text text{
  font-size: 35px;
}

#outer-div button:hover {
  background-color: white;
  color: black;
}
