.outer-div{
  display:flex;
  justify-content: space-between;
  padding:10px 52px;
}

.outer-div div {
  display: inline;
  color: white;
}

.outer-div button {
  border: none;
  background-color: transparent;
  color: white;
  height: 40px;
  width: 40px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
}

.fas.fa-plus {
  font-size: 35px;
}

#my-decks-text p {
  font-size: 35px;
  padding: 0;
  margin: 0;
}

.outer-div button:hover {
  background-color: white;
  color: black;
}
