#sidebar-div{
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #1B8BBF;
  padding-top: 10px;
  font-family: sans-serif;
}

/* @media screen and (min-height: 80%) {
  #sidebar-div {
    height: auto;
  }
} */
