.about-links {
  background-color: #e6e6e6;
  margin-top: -15px;
  padding-top: 5px;
}
.author-credits {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    padding-bottom: 15px;
}

.authors {
    position: relative;
    font-family: sans-serif;
    font-weight: normal;
    text-decoration: none;
    color: black;
    overflow: hidden;
    padding-bottom: 5px;
}

.underline {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0.1em;
    height: 4px;
    background-color: #17bdef;
    z-index: 5;
    transition: transform 580ms cubic-bezier(0.2, 0.1, 0.15, 1.32);
}
