#search-bar input {
  border: none;
  height: 28px;
  font-size: 15px;
  font-family: sans-serif;
  width: 50%;
  border-radius: 25px;
  box-shadow: 1px 1px black;

}

#quotes-div {
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  max-height: 30px;
}

#authors-div {
  margin-top: 10px;
  /* margin-left: 30px; */
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}
