#search-bar input {
  border: none;
  height: 30px;
  font-size: 15px;
  font-family: sans-serif;
  width: 50%;
  border-radius: 25px;
  box-shadow: 1px 1px black;
  padding: 0 12px;
}

#quotes-div {
  font-weight: bold;
  font-size: 20px;
  max-height: 30px;
  padding:10px;
}

#authors-div {
  display: flex;
  justify-content: flex-end;
padding:10px;
}
