#deck-main-header-div {
  grid-area: deckheader;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "langlogo langname quote"
  "langlogo studybutton deletebutton"
  ;
}

#language-logo-div {
  grid-area: langlogo;
  display: flex;
  justify-content: center;
  align-items: center;
}

#language-name-div {
  grid-area: langname;
}

#study-deck-button-div {
  grid-area: studybutton;
}

#quote-div {
  grid-area: quote;
  overflow-y: auto;
}


#actual-quote-div {
  height: 60px;
  font-size: 20px;
  margin-bottom: 10px;
  overflow-y: auto;
}

#actual-author-div {
  height: 25px;
  font-size: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
  overflow-y: auto;
}

#study-deck-button-div button{
  background-color: rgb(94, 212, 16);
  width: 175px;
  color: white;
}
#delete-deck-button-div {
  grid-area: deletebutton;

}
.delete-button {
  width: 175px;
  background-color: red;
  color: white;
  padding: 9px;
}
