#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-translucent-grey);
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-logo {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  display: flex;
  position: absolute;
  background-color:white;
  border-radius: .3rem;
}

form{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 33vw;
  min-height: 40vh;
  text-align: left;
  margin: 5px;
  color: white;
  text-shadow: -2px 0 var(--main-shadow-grey), 0 2px var(--main-shadow-grey), 2px 0 var(--main-shadow-grey), 0 -2px var(--main-shadow-grey);
  background-color: rgba(76, 126, 218, 0.138);

}

form > label{
  margin: 5px;
  font-size: large;
  text-align: center;
  width: 50%;
  background-color: var(--main-translucent-grey);
  border-radius: .3rem;
  box-shadow: 1px 1px var(--main-shadow-grey);
  border: 1px solid var(--main-shadow-grey);

}
form > input{
  margin: 5px;
  height: 1.5rem;
  border-radius: .3rem;
  border: 1px solid var(--main-shadow-grey);
  box-shadow: 1px 1px var(--main-shadow-grey);

}

form h1{
  text-align: center;
  width: 70%;
  background-color: var(--main-translucent-grey);
  border-radius: .3rem;
  box-shadow: 1px 1px var(--main-shadow-grey);
  border: 1px solid var(--main-shadow-grey);


}

form > button {
  height: 30px;
  width: 100px;
  margin: 20px 20px;
  border: solid 2px rgba(0, 0, 0, 0.158);
  border-radius: .3rem;
  background-color: var(--main-translucent-grey);

}
