#edit-deck-page-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* margin-top: 100px; */
}

#edit-deck-form {
  height: 500px;
  width: 100%;
  background-color: white;
  display: grid;
  overflow-y: auto;
  grid-template-rows: repeat(50, 80px);
  margin-top: 25px;
}

.card-div {
  width: 70rem;
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr;
}
.card-div div{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#flash-cards-title {
  display: flex;
  align-items: center;
  /* font-size: 30px; */
  color: orange;
}

#question-answer-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 70%;
}

#question-title-div{
  display: flex;
  justify-content: center;
  margin: 5px 0px;
  margin-left: 122px;
  font-size: 25px;
}
#answer-title-div {
  display: flex;
  justify-content: center;
  margin: 5px 0px;
  margin-right: 142px;
  font-size: 25px;
}

.form-input-box {
  max-height: 40px;
  width: 80%;
}

textarea {
  resize: none
}

.delete-card-button {
  height: 40px;
  width: 40px;
  background-color: red;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  /* text-align: center; */
}

.card-number-div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: black;
}
